section#About {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section#About img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

section#About svg {
  width: 25px;
  height: 25px;
  margin: 5px;
}

section#About h1 {
  margin-top: 10px;
}
section#About p {
  color: #555;
  font-size: 20px;
  max-width: 500px;
  text-align: center;
}

section#About ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}