header {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  height: 60px;
  padding: 0px !important;
  margin: 10px;
}

header a, header img {
  height: 100%; 
  width: auto;
  border-radius: 50%;
  padding: 2px;
}
header img {
  filter: invert(1);
}

header ul {
  list-style: none;
  display: flex;
}
header ul li {
  padding: 10px;
}

@media(max-width: 600px) {
  header {
    justify-content: center;
    display: none;
  }
}